<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lz.myreceiver">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.lz.myreceiver.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!--将入口设置data元素，接收隐士intent，可以隐藏启动图标-->
                <data
                    android:host="mysender.lz.com"
                    android:mimeType="text/plain"
                    android:scheme="http" />
                <!--  <data android:scheme="string"
                      android:host="string"
                      android:port="string"
                      android:path="string"
                      android:pathPattern="string"
                      android:pathPrefix="string"
                      android:mimeType="string" />-->
            </intent-filter>


            <intent-filter>
                <action android:name="lz.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="mysender.lz.com"
                    android:mimeType="text/plain"
                    android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>